<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNgLearning">
	<parameter name="url" value="https://login.salesforce.com/"></parameter>
	<parameter name="UserName" value="fullstack@testleaf.com"></parameter>
	<parameter name="PassWord" value="SelBootcamp$123"></parameter>
	<test thread-count="5" name="Test" verbose="5">
		<classes>
			<class name="testNGClass.CreateWorkTypeGroups" />
			<!-- <class name="testNGClass.EditWorkTypeGroups" /> <class name="testNGClass.DeleteWorkTypeGroups" 
				/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
